@{
    ViewData["Title"] = "Home Page";
}
@{
    var userType = ViewBag.UserType;

}



@model EthioHomes.Models.User

<!DOCTYPE html>
<html lang="en">

<head>

    <title>EthioHomes - Home</title>




    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="~/css/styleNavigation.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/colors.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/responsive.css" asp-append-version="true">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Bootstrap (Local Copy) -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">


    @* <!-- Owl Carousel --> *@
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"> *@
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"> *@

    <!-- Owl Carousel (Local Copy) -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h1 style="color: white;"><em>Ethio Homes</em></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#about">About</a>
                    </li>


                    <!-- Check if the user is logged in -->
                    @if (ViewBag.UserType != null)
                    {
                     
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/Messages/Conversations" asp-controller="Messages"
                                        asp-action="Conversations">Messages</a></li>
                                <li>
                                    <a asp-action="MySavedProperties" asp-controller="UserProperties" class="dropdown-item"
                                        href="/UserProperties/MySavedProperties">Saved Properties</a>
                                </li>
                                <li>
                                    <a asp-action="MyBookings" asp-controller="UserProperties" class="dropdown-item"
                                        href="/UserProperties/MyBookings">Bookings</a>
                                </li>
                                <!-- Conditional menu items based on UserType -->
                                @if (ViewBag.UserType == "Owner")
                                {
                                    <li><a class="dropdown-item" href="/Property/AddProperty">Add Property</a></li>
                                    <li><a class="dropdown-item" href="/Property/ViewMyListings">View My Listings</a></li>

                                   
                                    
                                        <li><a class="dropdown-item" href="@Url.Action("ManageBookings", "Booking")">Manage Bookings</a></li>
                                    

                                }

                                <li><a class="dropdown-item" href="/User/Logout">Log Out</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <!-- If the user is not logged in, show the login link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Login">Log in</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>









  
              

   






    <!-- CAROUSEL IMAGES -->
    <section class="banner" id="home">
        <div class="owl-carousel owl-theme carousel-sliders">
            <div class="item" style="background-image: url('/images/slide3.jpg');">
                <div class="overlay-bg cover-full"></div>
                <div class="container">
                    <div class="caption">
                        <h1 class="caption-heading">The perfect place for your Needs</h1>
                        <a  href="@Url.Action("index","PropertyListing")" class="btn btn-secondary">View more</a>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url('/images/slide2.jpg');">
                <div class="overlay-bg cover-full"></div>
                <div class="container">
                    <div class="caption">
                        <h1 class="caption-heading">The perfect place for your Needs</h1>
                        <a href="@Url.Action("index","PropertyListing")"
                         class="btn btn-secondary">View more</a>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url('/images/slide3.jpg');">
                <div class="overlay-bg cover-full"></div>
                <div class="container">
                    <div class="caption">
                        <h1 class="caption-heading">The perfect place for your Needs</h1>
                        <a href="@Url.Action("index","PropertyListing")"  class="btn btn-secondary">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav owl-nav"></div>
    </section>

    <!-- WELCOME CONTENT -->
    <section id="about" class="about">
        <div class="container pt-5 pb-5">
            <h1 class="section-title">About Us</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <p>
                            We simplify real estate selling, and renting. Join Ethio Homes for a new era of convenient
                            and transparent property management.
                        </p>
                        <img class="w-100 p-3" src="/images/about.jpg" alt="About Us">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <ul>
                            <li>
                                <i class="fas fa-trophy"></i>
                                <h4>Comfortable</h4>
                                <p>Ethio Homes provides a comfortable real estate experience with its intuitive
                                    interface, extensive property listings, and secure online tools. Easily browse,
                                    negotiate, and finalize transactions all in one place, ensuring a stress-free
                                    process for buyers, sellers, and tenants.</p>
                            </li>
                            <li>
                                <i class="fas fa-bullhorn"></i>
                                <h4>Efficiency</h4>
                                <p>Ethio Homes enhances efficiency in real estate transactions with its streamlined
                                    processes. From listing properties to finalizing agreements, our platform reduces
                                    time and effort, making the buying, selling, and renting experience faster and more
                                    straightforward for all users.</p>
                            </li>
                            <li>
                                <i class="fas fa-user-shield"></i>
                                <h4>Distribution</h4>
                                <p>Ethio Homes connects buyers, sellers, and renters from different locations, providing
                                    extensive reach and visibility for all properties. This comprehensive network
                                    facilitates efficient and effective real estate transactions nationwide.</p>
                            </li>
                            <li>
                                <i class="fas fa-id-card-alt"></i>
                                <h4>Transparency</h4>
                                <p>Prioritizes transparency in all interactions. Detailed property descriptions, clear
                                    pricing information, and secure online agreements ensure that buyers, sellers, and
                                    tenants have all the information they need to make informed decisions confidently.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <!-- <section id="services" class="services">  -->
    <!--propertyListing-->

    @* <section id="PropertyListing" style="text-align: center; margin: 0 auto;">
        <iframe src="@Url.Action("Index", "PropertyListing")"
            style="width: 100%; height: 600px; border: none;"></iframe>
    </section> *@



    <div class="row">
        <div class="col-md-6 box-image">
            <div class="image cover-full transition" style="background-image: url('../images/service2.jpg');"></div>
            <div class="shadow cover-full transition"></div>
            <div class="desc center">
                <h4>Rentals</h4>
                <a href="#" class="btn-secondary">View more</a>
            </div>
        </div>
        <div class="col-md-6 box-image">
            <div class="image cover-full transition" style="background-image: url('../images/service3.jpg');"></div>
            <div class="shadow cover-full transition"></div>
            <div class="desc center">
                <h4>For Sale</h4>
                <a href="#" class="btn-secondary">View more</a>
            </div>
        </div>
    </div>
    </section>

    <section id="projects" class="projects">
        <div class="container pt-5 pb-5">
            <h1 class="section-title">Locations</h1>
            <div class="row">
                <!-- Project Cards -->
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro1.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Addis Ababa</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro2.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Hawassa</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro3.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Dire Dawa</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro4.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Gonder</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro5.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Nazret</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="box-image">
                        <div class="image cover-full" style="background-image: url('/images/pro6.jpg');"></div>
                        <div class="shadow cover-full"></div>
                        <div class="desc center">
                            <h4>Browse Your Own Location</h4>
                            <a href="#">View more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS -->
    <section id="testimonials" class="testimonials">
        <div class="container pt-5 pb-5">
            <h1 class="section-title">What’s Our Customer Say</h1>
            <div class="owl-carousel owl-theme carousel-testimonials">
                <div class="item testimonial">
                    <img class="transition rounded-3"
                        src="https://lumenor.ai/cdn-cgi/imagedelivery/F5KOmplEz0rStV2qDKhYag/0e225278-0f5b-451e-506f-fadbc6dd5f00/tn"
                        alt="testimonial detail">
                    <div class="testimonial-content">
                        <p>Ethio Homes made finding our dream home effortless. The extensive listings and detailed
                            property descriptions helped us make an informed decision quickly. The secure online tools
                            made the buying process seamless and stress-free. Highly recommend Ethio Homes!"</p>
                        <h4>Alex Schmidt</h4>
                        <h5>CEO Ruble Engeenering</h5>
                    </div>
                </div>
                <div class="item testimonial">
                    <img class="transition"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcJmeoMri_gtd3XW508-Ex4463AtmotzoUDA&s"
                        alt="testimonial detail">
                    <div class="testimonial-content">
                        <p>As a landlord, Ethio Homes has been a game-changer. Listing my property was easy, and I
                            received multiple inquiries within days. The digital contract feature streamlined the rental
                            agreement process, saving me time and reducing paperwork. PropertyPro is the best platform
                            I've used!</p>
                        <h4>James L.</h4>
                        <h5>Property Owner</h5>
                    </div>
                </div>
                <div class="item testimonial">
                    <img class="transition"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSej6k8rDiuFJwlyS6KBD-FC9rVC68mv7PtXA&s"
                        alt="testimonial detail">
                    <div class="testimonial-content">
                        <p>Using Ethio Homes to find a new office space was a breeze. The platform's user-friendly
                            interface allowed us to filter listings based on our exact requirements, and the online
                            negotiation tools made finalizing the lease quick and efficient. Ethio Homes is a must for
                            any business looking for commercial property.</p>
                        <h4>Emily R.</h4>
                        <h5>Business Owner</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FOOTER -->
    <footer class="footer footer1" id="contact">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                        <h3 class="text-white">Ethio Homes</h3>
                        <p>For reliable homes. We bring homes closer to you.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> Addis Ababa, Ethiopia
                        </li>
                        <li>
                            <i class="fas fa-phone"></i> 123-456-789
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i> contact@ethiohomes.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#" class="btn-secondary"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="btn-secondary"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="btn-secondary"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>



    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000,
                dots: true,
                nav: true,
                navText: ["<", ">"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });

            // Add keyboard navigation
            $(document).keydown(function (e) {
                if (e.keyCode == 37) { // Left arrow key
                    $(".owl-carousel").trigger('prev.owl.carousel');
                } else if (e.keyCode == 39) { // Right arrow key
                    $(".owl-carousel").trigger('next.owl.carousel');
                }
            });
        });
    </script>

</body>

</html>